/* Estos son algunos diseños que se le hizo a la pagina */

body {
    background: black;
}

h2 {
    color: white;
}

.card {
    width: 230px;
    margin: 30px;
}

input :hover {
    background: blue;
}

img {
    margin: 20px;
}
